body{ 
font-family: "Marker Felt","Comic Sans MS", fantasy; 
background-color:#ccffff; 
    } 
 
h1 { 
font-size: 1.3em; 
text-align:center; 
    } 
 
.center{ 
width:55%;
margin-left:15%; 
margin-right:15%;
text-align:center; 
border-collapse: collapse; 
cellspacing: 0 px; 
    } 
 
td { 
border: 1px solid #ffffff; 
text-align:center; 
    } 
 
th { 
text-align:center; 
color:#ffffff; 
background-color:#003366; 
   } 
   
   .float-left{
	   float:left;
   }
   
   .float-right{
	   float:right;
   }
   
   img.center {
    display: block;
    margin: 0 auto;
   }
